@import url('../Colecao/colecao.css');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: var(--dark-grey);
    width: 100%;
}


.container_title-and-forms{
    display: flex;
    flex-direction: column;
    margin-top: 4.3rem;
    /* padding: 70px 433px; */
}
.cadastroTitle{
    font-size: 32px;
    font-weight: 700;
    display: flex;
    margin-left: 24%;
}

.container-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
}

.form-container{
    width: 52%;
    background-color: white;
    padding: 1.8rem;
    border-radius: 4px;
}

.text-form{
    font-size: 14px;
    color: var(--dark-grey02);
    font-weight: 600;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    font-size: 12px;
    font-weight: 700;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-input{
    width: 100%;
    height: 3.7rem;
    background: var(--input-color);
    outline: none;
    border: none;
    padding: 1rem 0.6rem;
    border-radius: 8px;
    
}

.checkbox-email{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ipt-checkbox{
    width: 1.3rem;
    height: 1.3rem;
}

.label-checkbox{
    font-size: 0.8rem;
    font-weight: 600;
    width: 70%;
}